<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :氏名 %>
    <br>
    <%= form.text_field :name ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :年齢 %>
    <br>
    <%= form.number_field :age ,class:"form-controll"%>
  </div>
  <div class="form-group">
    <%= form.label :誕生日 %>
    <br>
    <%= form.date_field :birthday ,class:"form-controll", value: Time.now.strftime("%Y-%m-%d")%>
  </div>

  <div class="form-group">
    <%= form.label :大学名 %>
    <br>
    <% Settings.namesofuniv.each do |univ| %>
      <%=form.radio_button :univ, univ %> <%=univ%>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :最寄駅 %>
    <br>
    <%= form.text_field :station ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :携帯電話 %>
    <br>
    <%= form.text_field :phone ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :メールアドレス %>
    <br>
    <%= form.text_field :email ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :LineID %>
    <br>
    <%= form.text_field :line ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :出身都道府県 %>
    <br>
    <%= form.text_field :province ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :出身高校 %>
    <br>
    <%= form.text_field :highschool ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :部活 %>
    <br>
    <%= form.text_field :club ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :経験者かどうか %>
    <br>
    <%=form.radio_button :beginner, "経験者", class:"form-controll" %> <%="経験者"%>
    <%=form.radio_button :beginner, "初心者", class:"form-controll" %> <%="初心者"%>
  </div>

  <div class="form-group">
    <%= form.label :勧誘した人 %>
    <br>
    <%= form.text_field :solicitater ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :勧誘した場所 %>
    <br>
    <%= form.text_field :solicitationplace ,class:"form-controll"%>
  </div>

  <div class="form-group">
    <%= form.label :新入生の雰囲気 %>
    <br>
    <%= form.text_area :personality ,class:"form-controll supplement"%>
  </div>

  <div class="form-group">
    <%= form.label :何を推したか %>
    <br>
    <%= form.text_area :recommendation ,class:"form-controll supplement"%>
  </div>

  <div class="form-group">
    <%= form.label :何に興味を持ったか %>
    <br>
    <%= form.text_area :interest ,class:"form-controll supplement"%>
  </div>

  <div class="form-group">
    <%= form.label :補足 %>
    <br>
    <%= form.text_area :supplement ,class:"form-controll supplement"%>
  </div>

  <div class="form-group">
    <%= form.submit(class:'btn btn-primary') %>
  </div>
<% end %>

<script>
var textarea=$('textarea'+'.supplement');
textarea.height(30);
textarea.css("lineHeight","20px");
textarea.on("input",function(evt){
  if(evt.target.scrollHeight > evt.target.offsetHeight){
    $(evt.target).height(evt.target.scrollHeight);
  }else{
    var lineHeight=Number($(evt.target).height() - lineHeight);
    if(evt.target.scrollHeight > evt.target.offsetHeight){
      $(evt.target).height(evt.target.scrollHeight);
    }
  }
});
</script>
