<div style='text-align:center;'>
  <p id="notice"><%= notice %></p>

  <% if Rails.env == 'development'%>
  <p>
  <%end%>
  <p>
    <strong>氏名:</strong>
    <%= @profile.name %>
  </p>
  <p>
    <strong>年齢:</strong>
    <%= @profile.age %>
  </p>

  <p>
    <strong>大学:</strong>
    <%= @profile.univ %>
  </p>

  <p>
    <strong>誕生日:</strong>
    <%= @profile.birthday %>
  </p>

  <p>
    <strong>最寄駅:</strong>
    <%= @profile.station %>
  </p>

  <p>
    <strong>携帯電話:</strong>
    <%= @profile.phone %>
  </p>

  <p>
    <strong>メールアドレス:</strong>
    <%= @profile.email %>
  </p>

  <p>
    <strong>LINEID:</strong>
    <%= @profile.line %>
  </p>

  <p>
    <strong>出身都道府県:</strong>
    <%= @profile.province %>
  </p>

  <p>
    <strong>出身高校:</strong>
    <%= @profile.highschool %>
  </p>

  <p>
    <strong>部活:</strong>
    <%= @profile.club %>
  </p>

  <p>
    <strong>経験者かどうか:</strong>
    <%= @profile.beginner %>
  </p>

  <p>
    <strong>勧誘した人:</strong>
    <%= @profile.solicitater %>
  </p>

  <p>
    <strong>勧誘した場所:</strong>
    <%= @profile.solicitationplace %>
  </p>

  <p>
    <strong>新入生の雰囲気:</strong>
    <%= @profile.personality %>
  </p>

  <p>
    <strong>何を推したか:</strong>
    <%= @profile.recommendation %>
  </p>

  <p>
    <strong>何に興味を持ったか:</strong>
    <%= @profile.interest %>
  </p>

  <p>
    <strong>補足:</strong>
    <%= @profile.supplement %>
  </p>

  <p>
    <% if @checkedids.blank? %>
    <%= link_to "注目人物に登録",importance_profile_path(@profile,params:{checkedid: @profile.id}), class:"btn btn-primary", style:"color:white", method: "post" %>
    <% else %>
    <%= button_tag "すでに登録済み",class:"btn btn-success", style:"color:white" %>
    <% end %>
    <%= link_to '消去', profile_path, method: :delete, data: { confirm: '本当に消してしますがよろしいですか？' },class:'btn btn-danger',style:'color:#ffffff' %>
  </p>


  <br>
  <%= link_to '編集', edit_profile_path(@profile), class:"btn btn-warning" %> |
  <%= link_to '前に戻る', request.referer, class:"btn btn-info", style:"color:white" %> |
  <%= link_to 'TOPに行く', profiles_path, class:"btn btn-info", style:"color:white" %>
  <br>
</div>
