<div style='text-align:center;'>
  <p id="notice"><%= notice %></p>

  <p>
  </p>
  <strong>id:</strong>
  <%= @profile.id %>
  <p>
    <strong>氏名:</strong>
    <%= @profile.name %>
  </p>
  <p>
    <strong>年齢:</strong>
    <%= @profile.age %>
  </p>

  <p>
    <strong>大学:</strong>
    <%= @profile.univ %>
  </p>

  <p>
    <strong>最寄駅:</strong>
    <%= @profile.station %>
  </p>

  <p>
    <strong>携帯電話:</strong>
    <%= @profile.phone %>
  </p>

  <p>
    <strong>出身高校:</strong>
    <%= @profile.highschool %>
  </p>

  <p>
    <strong>補足:</strong>
    <%= @profile.supplement %>
  </p>

  <p>
    <%= link_to "お気に入り",profile_path(@profile,params:{checkedid: @profile.id}), class:"btn btn-primary", method: "post" %>
  </p>
  

  <br>
  <%= link_to '編集', edit_profile_path(@profile) %> |
  <%= link_to 'TOPに戻る', profiles_path %>
  <br>
</div>
