<div style='text-align:center;'>
  <p id="notice"><%= notice %></p>

  <p>
  </p>
  <strong>id:</strong>
  <%= @profile.id %>
  <p>
    <strong>氏名:</strong>
    <%= @profile.name %>
  </p>
  <p>
    <strong>年齢:</strong>
    <%= @profile.age %>
  </p>

  <p>
    <strong>大学:</strong>
    <%= @profile.univ %>
  </p>

  <p>
    <strong>最寄駅:</strong>
    <%= @profile.station %>
  </p>

  <p>
    <strong>携帯電話:</strong>
    <%= @profile.phone %>
  </p>

  <p>
    <strong>出身高校:</strong>
    <%= @profile.highschool %>
  </p>

  <p>
    <strong>補足:</strong>
    <%= @profile.supplement %>
  </p>

  <p>
    <%= link_to "注目人物に登録",importance_profile_path(@profile,params:{checkedid: @profile.id}), class:"btn btn-primary", style:"color:white", method: "post" %>
  </p>


  <br>
  <%= link_to '編集', edit_profile_path(@profile), class:"btn btn-warning" %> |
  <%= link_to '前に戻る', request.referer, class:"btn btn-info", style:"color:white" %> |
  <%= link_to 'TOPに行く', profiles_path, class:"btn btn-info", style:"color:white" %>
  <br>
</div>
