<%= form_with(model: event,url: event.id.present? ? event_path(event) : events_path, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=event.id%>

  <div class="field">
    <%= form.label :種類 %>
    <br>
    <% Settings.namesofevent.each do |event| %>
    <%=form.radio_button :selectedevent, event, class:"form-controll" %> <%=event%>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :開催時間 %>
    <br>
    <%= form.datetime_select :dateofevent, use_month_numbers: true, default:Date.new(Date.today.year, Date.today.month, Date.today.day), class:"form-controll"%>
  </div>

  <div class='field'>
    <%= form.label :終了時間 %>
    <br>
    <%= form.datetime_select :finishtime, use_month_numbers: true, default:Date.new(Date.today.year, Date.today.month, Date.today.day), class:"form-controll"%>
  </div>

  <div class="field">
    <%= form.label :開催場所 %>
    <br>
    <%= form.text_field :place ,class:"form-controll"%>
  </div>

  <div class="field">
    <%= form.label :サークル側の参加者 %>
    <br>
    <%= form.text_area :participants ,class:"form-controll supplement"%>
  </div>

  <div class="field">
    <%= form.label :補足 %>
    <br>
    <%= form.text_area :supplement ,class:"form-controll supplement", cols: "50"%>
  </div>

  <div class="actions">
    <%= form.submit(class:'btn btn-primary') %>
  </div>
<% end %>

<script>
var textarea=$('textarea'+'.supplement');
textarea.height(30);
textarea.css("lineHeight","20px");
textarea.on("input",function(evt){
  if(evt.target.scrollHeight > evt.target.offsetHeight){
    $(evt.target).height(evt.target.scrollHeight);
  }else{
    var lineHeight=Number($(evt.target).height() - lineHeight);
    if(evt.target.scrollHeight > evt.target.offsetHeight){
      $(evt.target).height(evt.target.scrollHeight);
    }
  }
});
</script>
